h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}
.flatpickr-input {
    background-color: transparent;
}
.flatpickr-input.active:focus {
    outline-color: #000;
}
.react-pdf__Page__canvas {
    margin: 0 auto;
}
.icon__table__candidate.success {
    width: 25px;
    height: 25px;
    fill: #2ccb2c;
    cursor: pointer;
}
.icon__table__candidate.warning {
    width: 25px;
    height: 25px;
    fill: #ed042b;
    cursor: pointer;
}
.icon__table__candidate.pending {
    width: 25px;
    height: 25px;
    fill: #efff09;
    cursor: pointer;
}
.word__file {
    fill: #0078d7;
    display: unset;
}
.excel__file {
    fill: #1d6f42;
    display: unset;
}
.ppt__file {
    fill: #d04423;
    display: unset;
}
svg.calendar__icon {
    width: 30px !important;
    height: 30px !important;
}

.MuiCardHeader-title {
    font-weight: bold !important;
}
.MuiTypography-body1 {
    font-weight: 1.5rem !important;
}

.content-item {
    margin: 10px 0;
}
/*  */
.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementBottom.css-hsnykj-MuiTooltip-tooltip {
    max-width: 150px;
}
.MuiFormLabel-root-520.MuiFormLabel-disabled-523 {
    color: rgba(0, 0, 0, 0.38);
}
.custom__timeline.success {
    width: 25px;
    height: 25px;
    fill: #2ccb2c;
    background-color: unset;
    cursor: pointer;
}
.custom__timeline.process circle {
    color: #fff;
    opacity: 1;
}
.custom__timeline.process path {
    fill: #61dbfb;
    opacity: 1;
}
.custom__timeline.pending {
    width: 25px;
    height: 25px;
    fill: #8f8f8f;
    background-color: unset;
    cursor: pointer;
}
/* Loading screen  */
.loading__screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.6);
    z-index: 99;
}
.loading__icon {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff !important;
}
.loading__icon svg {
    width: unset !important;
    height: unset !important;
}
