* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
svg {
    width: 22px !important;
    height: 22px !important;
}
input {
    text-align: left;
    font-size: 15px !important;
}
textarea:disabled {
    color: rgb(149, 156, 169) !important;
}
textarea::placeholder {
    font-size: 15px !important;
}
/* Headers table  */
thead tr th {
    flex-direction: column !important;
}
/* tbody tr td div {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
/* Edit input  */
.MuiInputBase-root-409 {
    margin-top: 1px;
    font-size: 19px !important;
}
.MuiFormControl-root-594.MuiTextField-root-635 input {
    min-width: 100px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.MuiSelect-select-698.MuiSelect-select-698 {
    margin-top: 8px;
}
/* Icon Table  */
.icon__table {
    width: 16px !important;
    height: 16px !important;
}
.icon__table.success {
    fill: rgb(19, 218, 19);
}
.icon__table.fail {
    fill: red;
}
.icon__table.wait {
    fill: yellow;
}
.icon__table.warning {
    fill: orangered;
}
/* Calendar edit  */
.PrivatePickersYear-yearButton.css-m1gykc,
.css-l0iinn,
.MuiTypography-root.MuiTypography-caption.css-1w13o7u-MuiTypography-root,
.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-195y93z-MuiButtonBase-root-MuiPickersDay-root,
.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
    font-size: 1.5rem !important;
}
.flatpickr-input {
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 5px 0;
}
.form-control {
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 5px 0;
}
.sc-bbmXgH.kDFSwf {
    width: 100%;
}
.sc-fYiAbW.sc-dTdPqK.hPPIzc.sc-eMigcr.dxkQqS.sc-eMigcr.dxkQqS {
    width: 100%;
    padding: 15px;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.clear__button {
    position: absolute;
    right: 15px;
    top: 2.5px;
    cursor: pointer;
    transition: all 0.5s;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.clear__button:hover {
    transform: scale(1.1);
}
/* Timeline  */
.timeline.success {
    background-color: rgb(19, 218, 19);
}
.timeline.fail {
    background-color: red;
}
.timeline.pending {
    background-color: rgb(219, 219, 70);
}
.timeline.disabled {
    background-color: gray;
}
/* Edit date range picker  */
.e-input-group.e-control-wrapper.e-date-range-wrapper.e-valid-input {
    width: 225px;
}

/* Form */
label {
    font-size: 17px !important;
}
/* Menu Item  */
li.menu__item {
    font-size: 13px !important;
}
.renderHTML {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* CUSTOM RENDER CELL  */
.custom__table {
    padding-top: 30px;
    display: flex;
    gap: 0 30px;
}
.custom__table .item__title {
    margin-bottom: 10px;
}

/* hide scrollbar  */
.scroll__status {
}
a:not([role="button"])[target="_blank"] {
    color: #22d3ee;
    border-bottom: unset;
    background-color: unset;
}
a:not([role="button"])[target="_blank"]:hover {
    text-decoration: underline;
    background-color: unset;
}
